.wrapper {
  display: grid;
  grid-template-rows: 100vh 15vh 95vh 10vh;
  grid-template-columns: 100%; }

body {
  margin: 0; }

.overhead {
  border-width: 1px;
  position: relative;
  text-align: center; }
  .overhead h1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: aliceblue; }

header {
  border-style: solid;
  border-width: 1px;
  height: 100%;
  background-color: yellowgreen;
  display: flex;
  position: sticky;
  top: 0px;
  justify-items: center; }
  header .material-icons {
    font-size: 55px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2vh; }
  header h1 {
    font-size: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 35%;
    color: white; }

main {
  border-style: solid;
  border-width: 1px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  main .picbox {
    width: 146px;
    height: 146px;
    padding: 5px; }

footer {
  border-style: solid;
  border-width: 1px;
  height: 100%;
  background-color: yellowgreen; }
