<div class = overhead>
    <img src ="IMG/randem.jpg" style="width:100%;height:100%;">
    <h1> Church of the Cucumber</h1>
</div>
<header>
    <i class="material-icons" onclick="menuToggle()">
        menu
    </i>

    <h1> HOME</h1>
    <i class="material-icons">
        shopping_cart
    </i>

    <menu>
        <div class = link>
            <a href = "Site.html"> Home </a>
            <a href = "page1.html"> Cucumbers  </a>
            <a href = "page2.html.erb"> Churches </a>
            <a href = "page3.html.erb"> Scripture </a>
            <a href = "page4.html.erb"> Moods </a>
            <a href = "page5.html.erb"> Shopping cart </a>
        </div>

    </menu>
    <nav>
        <i class="material-icons klass" onclick="menuToggle()">
            close
        </i>
    </nav>
</header>
<main>
    
    <h1> Church of Cucumbers </h1>
    <h2> Browse our site if you wish to uncover the great secrets of life.  </h2>
    
    <div class = sitelinks>
        <div class = picbox>
            <img src ="IMG/randem.jpg" style="width:146px;height:146px;">
        </div>
        <div class = picbox>
            <img src ="IMG/randem.jpg" style="width:146px;height:146px;">
        </div>
        <div class = picbox>
            <img src ="IMG/randem.jpg" style="width:146px;height:146px;">
        </div>
        <div class = picbox>
            <img src ="IMG/randem.jpg" style="width:146px;height:146px;">
        </div>
    </div>
</main>
<footer>