<header>
    <i class="material-icons" onclick="menuToggle()">
        menu
    </i>

    <h1> HOME</h1>
    <i class="material-icons">
        shopping_cart
    </i>

    <menu>
        <div class = link>
            <h3> HOME </h3>
            <a href = "page1.html"> Cucumbers  </a>
            <a href = "page1.html"> Churches </a>
            <a href = "page1.html"> Scripture </a>
            <a href = "page1.html"> Moods </a>
            <a href = "page1.html"> Shopping cart </a>
        </div>

    </menu>
    <nav>
        <i class="material-icons klass" onclick="menuToggle()">
            close
        </i>
    </nav>
</header>