<div class = secwrap>
    <header class = "secondary">
        <div class = "navigative">
            <i class="material-icons" onclick="menuToggle()">
                menu
            </i>
            
            <h1> Churches </h1>
            <a href = "page5.html"> 
                    <i class="material-icons">
                        shopping_cart
                    </i>
                </a>
            
            <menu>
                <div class = link>
                    <a href = "index.html"> Home </a>
                    <a href = "page1.html"> Cucumbers  </a>
                    <a href = "page2.html"> Churches </a>
                    <a href = "page3.html"> Scriptures </a>
                    <a href = "page4.html"> Moods </a>
                    <a href = "page5.html"> Shoppingcart </a>
                </div>
                
            </menu>
            <nav>
                <i class="material-icons klass" onclick="menuToggle()">
                    close
                </i>
            </nav>
        </div>
        
        <div class = options> 
            <div class = dropdown>
                <h3> Alternatives </h3>
                <details>
                    Närast
                    Lägst Pris
                    Finelifinast
                </details>
            </div>
            <input type = "text">
            <i class="material-icons">
                search
            </i>
            
        </div>
        
    </header>
    
    <main>
        <div class = bigcluster>
            <div class = bigpicbox> 
                    <img src ="IMG/Kyrka2.png">
                <div class = banner>
                    <button class = "köp big"> <h3>Reserve</h3> </button>
                    <button class = "info big"><h3> info</h3> </button>
                </div>
            </div>
        </div>
        <div class = bigcluster>
            <div class = bigpicbox>
                    <img src ="IMG/Kyrka2.png">
                <div class = banner>
                    <button class = "köp big"> <h3>Reserve</h3> </button>
                    <button class = "info big"><h3> info</h3> </button>
                </div>
            </div>
        </div>
        <div class = bigcluster>
            <div class = bigpicbox> 
                    <img src ="IMG/Kyrka2.png">
                <div class = banner>
                    <button class = "köp big"> <h3>Reserve</h3> </button>
                    <button class = "info big"><h3> info</h3> </button>
                </div>
            </div>
        </div>
        <div class = bigcluster>
            <div class = bigpicbox> 
                    <img src ="IMG/Kyrka2.png">
                <div class = banner>
                    <button class = "köp big"> <h3>Reserve</h3> </button>
                    <button class = "info big"><h3> info</h3> </button>
                </div>
            </div>
        </div>
        <div class = bigcluster>
            <div class = bigpicbox> 
                    <img src ="IMG/Kyrka2.png">
                <div class = banner>
                    <button class = "köp big"> <h3>Reserve</h3> </button>
                    <button class = "info big"><h3> info</h3> </button>
                </div>
            </div>
        </div>
        
    </main>
    <footer></footer>
</div>