<div class = secwrap>
    <header class = "third">
        <div class = "navigative">
            <i class="material-icons" onclick="menuToggle()">
                menu
            </i>
            
            <h1> Shoppingcart </h1>
            <a href = "page5.html"> 
                    <i class="material-icons">
                        shopping_cart
                    </i>
                </a>
            
            <menu>
                <div class = link>
                    <a href = "index.html"> Home </a>
                    <a href = "page1.html"> Cucumbers  </a>
                    <a href = "page2.html"> Churches </a>
                    <a href = "page3.html"> Scriptures </a>
                    <a href = "page4.html"> Moods </a>
                    <a href = "page5.html"> Shoppingcart </a>
                </div>
                
            </menu>
            <nav>
                <i class="material-icons klass" onclick="menuToggle()">
                    close
                </i>
            </nav>
        </div>
        
        
    </header>
    
    <main>
        <div class = buylist>
            <div class = shoppinglist>
                <article>Exotic Blue Cucumber <i class="material-icons" >
                    close
                </i>
            </article> 
            <article>Dimmadome Reservation <i class="material-icons" >
                close
            </i></article> 
            <article>Mellancholy Gurkjuice <i class="material-icons" >
                close
            </i></article> 
        </div>
        <div class = buttons>
            <button class = köp> Buy </button>
            <button class = clear> Clear</button>
        </div>
    </div>
</main>
</div>