<div class = secwrap>
    <header class = "secondary">
        <div class = "navigative">
            <i class="material-icons" onclick="menuToggle()">
                menu
            </i>
            
            <h1> Moods </h1>
            <a href = "page5.html"> 
                    <i class="material-icons">
                        shopping_cart
                    </i>
                </a>
            
            <menu>
                <div class = link>
                    <a href = "index.html"> Home </a>
                    <a href = "page1.html"> Cucumbers  </a>
                    <a href = "page2.html"> Churches </a>
                    <a href = "page3.html"> Scriptures </a>
                    <a href = "page4.html"> Moods </a>
                    <a href = "page5.html"> Shoppingcart </a>
                </div>
                
            </menu>
            <nav>
                <i class="material-icons klass" onclick="menuToggle()">
                    close
                </i>
            </nav>
        </div>
        
        <div class = options> 
            <div class = dropdown>
                <h3> Alternatives </h3>
                <details>
                    Exotiskt
                    Blått
                    Finfint
                </details>
            </div>
            <input type = "text">
            <i class="material-icons">
                search
            </i>
            
        </div>
        
    </header>
    <main>
        <div class = cluster>
            <div class = picbox><img src ="IMG/GronGurkjuice.png"></div>
            <div class = buttons>
                <button class = köp> <h2> Buy! </h2> </button>
                <button class = info> <h2>Info </h2> </button>
            </div>
        </div>
        
        <div class = cluster>
            <div class = picbox><img src ="IMG/RodGurkjuice.png"></div>
            <div class = buttons>
                <button class = köp> <h2> Buy! </h2> </button>
                <button class = info> <h2>Info </h2> </button>
            </div>
        </div>
        
        <div class = cluster>
            <div class = picbox><img src ="IMG/GronGurkjuice.png"></div>
            <div class = buttons>
                <button class = köp> <h2> Buy! </h2> </button>
                <button class = info> <h2>Info </h2> </button>
            </div>
        </div>
        
        <div class = cluster>
            <div class = picbox><img src ="IMG/RodGurkjuice.png"></div>
            <div class = buttons>
                <button class = köp> <h2> Buy! </h2> </button>
                <button class = info> <h2>Info </h2> </button>
            </div>
        </div>
        <div class = cluster>
            <div class = picbox><img src ="IMG/GronGurkjuice.png"></div>
            <div class = buttons>
                <button class = köp> <h2> Buy! </h2> </button>
                <button class = info> <h2>Info </h2> </button>
            </div>
        </div>
        <div class = cluster>
            <div class = picbox><img src ="IMG/RodGurkjuice.png"></div>
            <div class = buttons>
                <button class = köp> <h2> Buy! </h2> </button>
                <button class = info> <h2>Info </h2> </button>
            </div>
        </div>
        <div class = cluster>
            <div class = picbox><img src ="IMG/GronGurkjuice.png"></div>
            <div class = buttons>
                <button class = köp> <h2> Buy! </h2> </button>
                <button class = info> <h2>Info </h2> </button>
            </div>
        </div>
        <div class = cluster>
            <div class = picbox><img src ="IMG/RodGurkjuice.png"></div>
            <div class = buttons>
                <button class = köp> <h2> Buy! </h2> </button>
                <button class = info> <h2>Info </h2> </button>
            </div>
        </div>
        <div class = cluster>
            <div class = picbox><img src ="IMG/GronGurkjuice.png"></div>
            <div class = buttons>
                <button class = köp> <h2> Buy! </h2> </button>
                <button class = info> <h2>Info </h2> </button>
            </div>
        </div>
        <div class = cluster>
            <div class = picbox><img src ="IMG/RodGurkjuice.png"></div>
            <div class = buttons>
                <button class = köp> <h2> Buy! </h2> </button>
                <button class = info> <h2>Info </h2> </button>
            </div>
        </div>
    </main>
    <footer></footer>
</div>