<header>
    <i class="material-icons" onclick="menuToggle()">
        menu
    </i>

    <h1> HOME</h1>
    <i class="material-icons">
        shopping_cart
    </i>

    <menu>
        <div class = link>
            <a href = "index.html"> Home </a>
            <a href = "page1.html"> Cucumbers  </a>
            <a href = "page2.html.erb"> Churches </a>
            <a href = "page3.html.erb"> Scripture </a>
            <a href = "page4.html.erb"> Moods </a>
            <a href = "page5.html.erb"> Shopping cart </a>
        </div>

    </menu>
    <nav>
        <i class="material-icons klass" onclick="menuToggle()">
            close
        </i>
    </nav>
</header>