header{
    border-style: solid;
    border-width: 1px;
    height: 100%;
    background-color: yellowgreen;
    display: flex;
    position: sticky;
    top: 0px;
    justify-items: center;
    .material-icons{
        font-size: 55px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 2vh;
    }

    h1{
        font-size: 2rem;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        color: white;

    }
}

.secondary{
    top: 0;
    height: 15%;
    
}

menu {
    position: fixed;
    left: -100vw;
    transition: 1s;
    background-color: rgba($color: #272323, $alpha: 0.95);
    height: 100vh;
    width: 60vw;
    z-index: 9999999999999999999999999;
    top: 0;
    margin: 0;
    padding: 20px;
    .link{
        
        a{
            color: white;
            font-size: 2rem;
            text-decoration: none;
            margin-top: 10px;

        }
        h3{
            color: white;
            font-size: 2rem;
        }
    }
}

nav {
    position: fixed;
    left: -20vw;
    top: 5vh;
    transition: all 1.5s ease;
}

.activate_cross{
    left: 80vw;
}
.activate_menu{
    left: 0;

}

