.wrapper{
    display: grid;
    grid-template-rows: 100vh 15vh 75vh 10vh; 
    grid-template-columns: 100%;
}

h1{
    font-family: 'Germania One', cursive;
    
}

h2{
    font-family: 'Raleway', sans-serif;
}

a{
    font-family: 'Crimson Text', serif;
}

body{
    margin: 0;
}

.overhead{
    border-width: 1px;
    position: relative;
    text-align: center;
    h1{
        font-family: 'Germania One', cursive;
        font-variant: normal;
        font-weight: 700;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -60%);
        font-size: 3rem;
        color: rgb(4, 138, 255);
    }
}
.secwrap{
    display: grid;
    grid-template-rows: 25vh auto 10vh; 
    grid-template-columns: 100%;
}