.wrapper{
    display: grid;
    grid-template-rows: 100vh 15vh 75vh 10vh; 
    grid-template-columns: 100%;
}


body{
    margin: 0;
}

.overhead{
    border-width: 1px;
    position: relative;
    text-align: center;
    h1{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -60%);
        font-size: 3rem;
        color: aliceblue;
    }
}
